*.xcuserstate
.swiftpm/xcode/xcuserdata/nico.miyasato.xcuserdatad
Sample/.DS_Store
*.DS_Store
.swiftpm/xcode/xcuserdata
Sample/Sample.xcodeproj/xcuserdata/miya.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Sample/Sample.xcodeproj/xcuserdata/miya.xcuserdatad/xcschemes/xcschememanagement.plist
